#fakebody {
    padding-bottom: 7%;
}
#fakebody {
    background-color: rgb(250, 140, 167);
    color: rgb(250, 227, 227)
}
#signature {
    color: rgba(255, 255, 255, 0.123);
}
#pastel {
    background-color: rgba(0, 0, 0, 0.623);
    border-color: rgba(247, 94, 247, 0.397);
    border-style: ridge;
    height: 40px;
}
#invel {
    color: rgb(250, 140, 167);
    
}
#linxing {
    background-color: rgba(0, 0, 0, 0.800);
    
}
#mingggg {
    width: 600px;
    
}